@import "tailwindcss";

@theme {
  --color-purple-50: hsl(260, 100%, 95%);
  --color-purple-300: hsl(264, 82%, 80%);
  --color-purple-500: hsl(263, 55%, 52%);

  --color-white: hsl(0, 0%, 100%);
  --color-grey-100: hsl(214, 17%, 92%);
  --color-grey-200: hsl(0, 0%, 81%);
  --color-grey-400: hsl(224, 10%, 45%);
  --color-grey-500: hsl(217, 19%, 35%);
  --color-dark-blue: hsl(219, 29%, 14%);
  --color-black: hsl(0, 0%, 7%);
}

@layer utilities {
  .text-preset-1 {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0px;
  }
  .text-preset-2 {
    font-weight: 500;
    font-size: 13px;
    line-height: 110%;
    letter-spacing: 0px;
  }
  .text-preset-3 {
    font-weight: 500;
    font-size: 13px;
    line-height: 140%;
    letter-spacing: 0px;
  }
  .text-preset-4 {
    font-weight: 500;
    font-size: 11px;
    line-height: 110%;
    letter-spacing: 0px;
  }
}

body {
  font-family: var(--font-barlowSemiCondensed);
  background: #f6f5f6;
}
